/*
# Elements
# Entete
# Extend
# Layout
# Menu
# Mixins
# Navigation
# Pied-page
# Slider
# Typographie
# Variables
*/
body {
  background-color: #009900;
}

body .global h1 {
  font-size: 2em;
  padding: 1rem 0 .1rem 0;
  margin: 0 0 0 2%;
}

body .global h2 {
  font-size: 1.2em;
  padding: 0 0 20px 4%;
  margin: 0;
}

@media screen and (min-width: 500px) {
  body .global h1 {
    font-size: 5em;
    margin: 0;
  }
  body .global h2 {
    font-size: 2em;
    margin: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6b4434;
}

header #checkMenu, header #chkRecherche {
  display: none;
}

header #btnMenu {
  z-index: 100;
  color: white;
  font-size: 2em;
  -webkit-transition: color 0.3s, -webkit-transform 0.6s ease-out;
  transition: color 0.3s, -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out, color 0.3s;
  transition: transform 0.6s ease-out, color 0.3s, -webkit-transform 0.6s ease-out;
}

header #menu {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #472c21;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul {
  text-align: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
  background-color: #0ada0a;
}

header ul li {
  padding: 30px 0;
  margin: 5px 0;
  background-color: #007b00;
}

header ul li a {
  font-size: 1.7em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#checkMenu:checked ~ #menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

#checkMenu:checked ~ #btnMenu {
  color: orange;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 500px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 40px;
  }
  header #btnMenu {
    display: none;
  }
  header #menu {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    background-color: rgba(0, 0, 0, 0);
    position: static;
  }
  header #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    background-color: rgba(10, 218, 10, 0);
  }
  header #menu ul li {
    padding: 8px 10px;
    margin: 0 5px;
  }
  header #menu ul li a {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */