// Style de l'entete


header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(221, 86, 32);
    z-index: 99;

    #checkMenu, #chkRecherche{
        display: none;
    }
    #btnMenu{
        z-index: 100;
        color: white;
        font-size: 2em;
        transition: transform 0.6s ease-out, color 0.3s;
    }

    #menu{
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(221, 86, 32);
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ul{
        
        text-align: center;
        width: 100%;
        list-style-type: none;
        padding: 0;
        background-color: rgb(10, 218, 10);
        

            li{
                padding: 30px 0;
                margin: 5px 0;
                background-color: rgb(0, 123, 0);
                a{
                    font-size: 1.7em;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }
            }

        
    }




}




#checkMenu:checked~#menu{
    transform: translateX(0%);
    transition: transform 0.6s ease-out;
}

#checkMenu:checked~#btnMenu{
    color: orange;
    transform: rotate(180deg);
}


@media screen and (min-width:500px){
    header{
        flex-direction: row-reverse;
        height: 40px;
        #btnMenu{
            display: none;
        }
        #menu{
            transform: translate(0%);
            background-color: rgba(0, 0, 0, 0);
            position: static;
            ul{
                display: flex;
                justify-content: flex-end;
                margin: 0;
                background-color: rgba(10, 218, 10,0);
                li{
                    padding: 15px 10px;
                    margin: 0 2px;
                    
                    a{
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
